<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
      <style>
   .btn {
    display: inline-block;
    background: #B1CEDF;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    color: black
   }
    .btn:hover {
    display: inline-block;
    background: #366B8A;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    color: white
    }
  </style>
</head>
<body>
<header><a href="{% url 'home' %}" class="btn">На главную</a>
{% if user.is_authenticated %}
    <a href="{% url 'update' user.pk %}"class="btn">Обновить данные пользователя</a>
    <a href="{% url 'user_info' %}"class="btn">Перейти в личный кабинет</a>
    <a href="{% url 'logout' %}"class="btn">Выйти из учётной записи</a><br>
    {% if user.photo %}
    <img src="{{user.photo.url}}" alt="Фотография не загружена" width="10%" vspace="10">
    {% endif %}<br>
    <p>Вы на сайте под именем "{{user.username}}", id "{{user.id}}"</p>
    <p>Пользователь зарегистрирован {{user.date_joined}}</p> <p>Последний вход {{user.last_login}} IP: {{user.user_IP}}</p>
{% else %}
    <a href="{% url 'login' %}"class="btn">Войти (для зарегистрированных пользователей)</a>
    <a href="{% url 'register' %}"class="btn">Зарегистрироваться</a>
{% endif %}
</header>
  {% block content %}
  {% endblock %}

{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
</body>
</html>