<title>Homepage</title>
<style>
   .btn1 {
    display: inline-block;
    background: #B8BBE3;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    color: black
   }
    .btn1:hover {
    display: inline-block;
    background: #41446B;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    color: white
    }
    .btn3 {
    display: inline-block;
    background: #60D4AE;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    color: black
   }
    .btn3:hover {
    display: inline-block;
    background: #006E4A;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    color: white
    }
</style>

{% extends 'base.html' %}
{{ ip }}
{% block content %}
{% if not user.is_authenticated %}
<br><p>Для записи на консультацию подайте заявку в личном кабинете (регистрация на сайте бесплатна).</p>
{% endif %}
{% if user.is_superuser %}
<a href ="{% url 'users' %}" class="btn1">Просмотр пользователей</a>
<a href ="{% url 'mydiplom:client_claims' %}" class="btn3">Фильтр по заявкам</a>
<a href ="{% url 'mydiplom:client_claim_list' %}" class="btn3">Все заявки</a>
<a href ="{% url 'mydiplom:claims_waiting' %}" class="btn1">Новые заявки</a>
<a href ="{% url 'mydiplom:in_progress' %}" class="btn1">Активные заявки</a>
<a href ="{% url 'mydiplom:claim_to_restore' %}" class="btn1">Заявки на восстановление</a>
<a href ="{% url 'mydiplom:all_rejected' %}" class="btn1">Окончательно отклонённые</a>
{% endif %}
{% endblock %}
