<title>Homepage</title>
<style>
   .btn1 {
    display: inline-block;
    background: #B8BBE3;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    color: black
   }
    .btn1:hover {
    display: inline-block;
    background: #41446B;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    color: white
    }
    .btn3 {
    display: inline-block;
    background: #60D4AE;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    color: black
   }
    .btn3:hover {
    display: inline-block;
    background: #006E4A;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    color: white
    }
  </style>
{% extends 'base.html' %}

{% block content %}
<h3>This is the homepage</h3>
{% if user.is_superuser %}
<a href ="{% url 'users' %}" class="btn1">Просмотр пользователей</a>
<a href ="{% url 'mydiplom:client_claims' %}" class="btn3">Фильтр по заявкам</a>
<a href ="{% url 'mydiplom:client_claim_list' %}" class="btn3">Все заявки</a>
<a href ="{% url 'mydiplom:claims_waiting' %}" class="btn1">Новые заявки</a>
<a href ="{% url 'mydiplom:in_progress' %}" class="btn1">Активные заявки</a>
<a href ="{% url 'mydiplom:claim_to_restore' %}" class="btn1">Заявки на восстановление</a>
<a href ="{% url 'mydiplom:all_rejected' %}" class="btn1">Окончательно отклонённые</a>
{% endif %}
<!-- clock widget start -->
<script type="text/javascript"> var css_file=document.createElement("link"); css_file.setAttribute("rel","stylesheet");
 css_file.setAttribute("type","text/css"); css_file.setAttribute("href","//s.bookcdn.com//css/cl/bw-cl-180x170r9.css");
  document.getElementsByTagName("head")[0].appendChild(css_file); </script> <div id="tw_19_672259526">
  <div style="width:120px; height:140px; margin: 0 auto;"><a href="https://nochi.com/time/kharkiv-19227">Харьков</a>
    <br/></div></div> <script type="text/javascript"> function setWidgetData_672259526(data){ if(typeof(data)
     != 'undefined' && data.results.length > 0) { for(var i = 0; i < data.results.length; ++i) { var objMainBlock = '';
      var params = data.results[i];
      objMainBlock = document.getElementById('tw_'+params.widget_type+'_'+params.widget_id); if(objMainBlock !== null)
       objMainBlock.innerHTML = params.html_code; } } } var clock_timer_672259526 = -1; </script> <script
        type="text/javascript" charset="UTF-8" src="https://widgets.booked.net/time/info?ver=2&domid=&type=19&id=672259526&scode=124&city_id=19227&wlangid=20&mode=2&details=0&background=ffffff&color=363636&add_background=ffffff&add_color=333333&head_color=ffffff&border=0&transparent=0"></script>
<!-- clock widget end -->
{% endblock %}